**/my_password.sh
*.bak

**/transcript
**/vsim.wlf
**/modelsim.ini


mpsoc/script/server/kc07/Readme
mpsoc/perl_gui/lib/mpsoc/*.MPSOC
!mpsoc/perl_gui/lib/mpsoc/mor1k_mpsoc.MPSOC
mpsoc/perl_gui/lib/soc/*.SOC
!mpsoc/perl_gui/lib/soc/mor1k_tile.SOC
mpsoc/src_c/netrace-1.0/*.o
mpsoc/remove_cycle/test/*
mpsoc/perl_gui/ProNoC
mpsoc/script/synfull/transcript
mpsoc/perl_gui/lib/simulate/*.SIM
mpsoc/perl_gui/lib/simulate/*.TRC
mpsoc/perl_gui/lib/netwmaker/*.NWM
!mpsoc/perl_gui/lib/netwmaker/custom1.NWM


mpsoc/script/synfull/tgen
mpsoc/src_c/synfull/traffic-generator/src/tgen
mpsoc/src_c/synfull/synful.a
mpsoc/src_c/synfull/synful.h
mpsoc/src_c/synfull/traffic-generator/src/synful.a
mpsoc/src_c/synfull/traffic-generator/src/tgen
mpsoc/src_c/synfull/traffic-generator/src/obj/*.o


mpsoc/src_c/bin2mem/bin2mem
mpsoc/src_c/bin2mif/bin2mif
mpsoc/src_c/bin2str/bin2str
mpsoc/src_c/ihex2mif/ihex2mif
mpsoc/src_c/jtag/jtag_libusb/list_usb_dev
mpsoc/src_c/jtag/jtag_quartus_stp/jtag_quartus_stp
mpsoc/src_c/jtag/jtag_xilinx_xsct/jtag_xilinx_xsct
mpsoc/src_c/plot/plot
